html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html, body, #root {
	width: 100%;
  height: 100%;
}

body .App {
  width: 100%;
  height: 100%;
  display: flex;
  
  /* Default Font */
  font-family: Arial, Helvetica, sans-serif;

  box-sizing: border-box;

  overflow-x: hidden;

  background-image: linear-gradient(rgb(30, 47, 75), rgb(30, 32, 37));
}

/****************************************
                Utilities
****************************************/

/* Buttons
==================== */
button {
  outline: none !important;
}

/* Font Awesome Customization
==================== */
.fa-ul {
  list-style-type: none;
  margin-left: 1.5em;
  padding-left: 0;
}
.fa-li {
  left: -1em;
  position: absolute;
  text-align: center;
  width: 1em;
  line-height: inherit;
}

/* Navigation
==================== */
.sidenav {
  width: 250px;
  height: 100%;
  display: flex;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;

  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  /* background-color: rgba(0, 0, 0, 1); */
  background-color: rgb(25, 25, 25);

  transition: width 0.5s;
}

/* User
==================== */
.user {
  width: 100%;
  height: 75px;
  display: flex;

  padding: 10px;

  /* background-color: rgba(65, 70, 70, 0.5); */
}
.user > img {
  display: block;
  max-width: 3em;
  max-height: 3em;
  height: auto;
  width: auto;

  align-self: center;

  margin: 0 10px;
  border-radius: 50%;
}
.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-text span {
  display: block;
}
.user-text #name {
  color: rgb(220, 220, 220);
  font-size: 1em;
}
.user-text #email {
  color: rgb(180, 180, 180);
  font-size: 0.8em;
  padding: 5px 0;
}

/* Quick Access
==================== */
.QuickAccess {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;

  padding: 10px;
}
.QuickAccess_list li {
  color: rgb(220, 220, 220);
  font-size: 1em;
  padding: 5px 0;
}
.QuickAccess_list li:hover {
  /* background-color: rgb(64, 64, 64); */
  color: white;
}
.QuickAccess_list i {
  color: rgb(220, 220, 220);
  padding: 0 10px 0 0;
  font-size: 0.9em;
}

/* Workspaces
==================== */
.Workspaces {
  display: flex;
  width: 100%;
  flex-direction: column;

  padding: 10px;
}
.Workspaces h2 {
  color: rgb(180, 180, 180);
  font-size: 1em;
}
.Workspaces_list li {
  color: rgb(220, 220, 220);
  font-size: 1em;
  padding: 5px 0;
}
.Workspaces_list li:hover {
  background-color: rgb(64, 64, 64);
  color: white;
}
.Workspaces_list i {
  color: rgb(220, 220, 220);
  padding: 0 10px 0 5px;
  font-size: 0.9em;
}
.Workspaces .fa-ul {
  list-style-type: none;
  margin-left: 0em;
  padding-left: 0;
}

/* Misc
==================== */
.Misc {
  display: flex;
  width: 100%;
  flex-direction: column;

  padding: 10px;
}
.Misc h2 {
  color: rgb(180, 180, 180);
  font-size: 1em;
}
.Misc_list li {
  color: rgb(220, 220, 220);
  font-size: 1em;
  padding: 5px 0;
}
.Misc_list li:hover {
  background-color: rgb(64, 64, 64);
  color: white;
}
.Misc_list i {
  color: rgb(220, 220, 220);
  padding: 0 10px 0 5px;
  font-size: 0.9em;
}
.Misc .fa-ul {
  list-style-type: none;
  margin-left: 0em;
  padding-left: 0;
}

/****************************************
                Content
****************************************/

/* grid-container
==================== */
.grid-container {
  height: 100%;
  /* Same as the Sidenav */
  margin-left: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "Overview Note";
  font-family: 'Open Sans', sans-serif;

  transition: margin-left 0.5s;
}

/* grid-container
==================== */
.Overview {
  grid-area: Overview;
  display: flex;
  flex-direction: column;

  background-color: rgb(38, 38, 38);
  box-sizing: border-box;
}
.Overview .selected {
  width: 100%;
  height: 75px;
  display: flex;

  align-items: center;
  padding: 20px;

  box-sizing: border-box;
  border-bottom: 2px solid rgb(64, 64, 64); 
}
.Overview .selected h2 {
  color: white;
  font-size: 1.2em;
}
.Overview .selected .menu-icon {
  display: none;
  color: white;
  padding-right: 10px;
  font-size: 1.4em;
}

/* Note
==================== */
.Note {
  grid-area: Note;
  display: flex;
  flex-direction: column;

  background-color: rgb(51, 51, 51);
  box-sizing: border-box;
}






/****************************************
            CSS Media Queries
****************************************/

/* Mobile Devices */
@media (max-width: 700px) {
  .sidenav {
    /* display: none; */
    width: 0;
  }

  .Overview .selected .menu-icon {
    display: block;
  }

  .grid-container {
    margin-left: 0;
  }

}